---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 border-b border-black/10 bg-[#fef8ec]/80 backdrop-blur">
  <div class="mx-auto flex max-w-6xl items-center justify-between px-6 py-4">
    <Logo />
    <Navigation />
  </div>
</header>
